[submodule "src/Fulma.Extensions/styles/bulma-calendar"]
	path = src/Fulma.Extensions/styles/bulma-calendar
	url = https://github.com/Wikiki/bulma-calendar
[submodule "src/Fulma.Extensions/styles/bulma-tooltip"]
	path = src/Fulma.Extensions/styles/bulma-tooltip
	url = git@github.com:Wikiki/bulma-tooltip.git
