source https://www.nuget.org/api/v2
storage:none

nuget Fable.Elmish.React ~> 4
nuget Fable.Elmish.Browser ~> 4
nuget Fable.Date
nuget Fable.Promise
nuget Fable.Fetch
nuget Fable.React
#nuget Thoth.Elmish.Toast
nuget FSharp.Core ~> 4.7.2
