source https://www.nuget.org/api/v2
storage:none

nuget Fable.Elmish.React ~> 4 prerelease
nuget Fable.Elmish.Browser ~> 4 prerelease
nuget Fable.Date
nuget Fable.Promise
nuget Fable.Fetch
nuget Fable.React ~> 9
#nuget Thoth.Elmish.Toast
nuget FSharp.Core ~> 4.7.2

group netcorebuild
    storage:none
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    clitool dotnet-fake
    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn
