source https://nuget.org/api/v2

nuget FSharp.Core  redirects:force, content:none
nuget Fable.Core 1.0.14
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.PowerPack
nuget Fable.React
nuget Fable.Elmish.Bulma


group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE

    github fsharp/FAKE modules/Octokit/Octokit.fsx
