source https://www.nuget.org/api/v2
storage:none
framework: netstandard2.0

nuget FSharp.Core redirects:force
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.React
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free
nuget Fulma
