$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Bulma customization
$body-size: 14px;

// Setup custom Colors
$custom-purple: #9930ca;
$custom-purple-invert: findColorInvert($custom-purple);
$custom-light-blue: #55b6ee;
$custom-light-blue-invert: findColorInvert($custom-light-blue);
$fulma: #2d3947;
$fulma-invert: findColorInvert($fulma);

$custom-colors: (
  "custom-light-blue":($custom-light-blue, $custom-light-blue-invert),
  "custom-purple": ($custom-purple, $custom-purple-invert),
  "fulma": ($fulma, $fulma-invert),
);

@import "~bulma/sass/utilities/derived-variables";

@import '~bulma/bulma';

@import "~bulma-badge/dist/css/bulma-badge.sass";
@import "~bulma-calendar/calendar.sass";
@import "~bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "~bulma-divider/dist/css/bulma-divider.sass";
@import "~bulma-pageloader/dist/css/bulma-pageloader.sass";
@import "~bulma-slider/dist/css/bulma-slider.sass";
@import "~bulma-switch/dist/css/bulma-switch.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";
@import "~bulma-tooltip/src/sass/index.sass";
@import "~bulma-quickview/dist/css/bulma-quickview.sass";


@import "./callout";
@import "./prism";
@import "./../css/prism.min.css";

.navbar {
    .title {
        color: white;
    }
}

.twitter {
    color: #55acee !important; // Override bulma
    border-color: #55acee;
}


.github {
    color: $black !important; // Override bulma
    border-color: black;
}

.block > * {
    margin-right: 5px !important; // !important needed to over slider margin
}


// Needed otherwise iframes show a disabled scrollbar
html,
body {
    overflow-y: show;
    overflow-x: hidden;
}

.hero-body {
    padding: 1rem;
}

// Override bulma .number class for prismjs classes
.number {
    align-items: center;
    background-color: $background;
    border-radius: 290486px;
    display: inline;
    font-size: 1em;
    // height: 2em;
    justify-content: center;
    margin-right: 0em;
    min-width: 2.5em;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

// Fix delete size
// See https://github.com/jgthms/bulma/issues/781
// .delete
//     max-height: inherit
//     max-width: inherit
//     min-height: inherit
//     min-width: inherit

// a {
//     &:not([class]) {
//         color: #028fcc;
//             &:hover {
//             color: #2d3947;
//         }
//     }
// }

.card-footer {
    >a {
        color: #2d3947;
    }
}

.menu-group {
    .icon {
        float: right;
        &,
        &.is-small,
        &.is-medium,
        &.is-large {
            height: 1.5em;
            width: 1.5em;
        }

        &:first-child:not(:last-child) {
            margin-left: calc(-0.375em - 1px);
            margin-right: 0.1875em;
        }

        &:last-child:not(:first-child) {
            margin-left: 0.1875em;
            margin-right: calc(-0.375em - 1px);
        }

        &:first-child:last-child {
            margin-left: calc(-0.375em - 1px);
            margin-right: calc(-0.375em - 1px)
        }
    }
}

// Fix Bulma radio & checkbox margin
// Seems to be a problem with React
input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.5em;
}

.icon-size {
    background-color: $yellow;
}

.preview-color {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.1);
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}
