// Colors
$dark-blue: #2D3947
$primary: $dark-blue

@import '../node_modules/bulma/bulma'
@import "./callout"
@import "./prism"

@font-face
  font-family: 'cookieregular'
  src: url('../../fonts/cookie-regular-webfont.woff2') format('woff2'), url('../../fonts/cookie-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

.navbar-bg
  background-color: $dark-blue
  .nav
    background-color: $dark-blue
  .title
    color: white
    font-weight: 600

.twitter
  color: #55acee !important // Override bulma
  border-color: #55acee

.github
  color: $black !important // Override bulma
  border-color: black

html
  font-size: 14px

.block > *
  margin: 0 5px

// Needed otherwise iframes show a disabled scrollbar
html,
body
  overflow-y: show
  overflow-x: hidden

.hero-body
  padding: 1rem

h2.cookieregular
  font: 400 40px/0.8 'cookieregular', Helvetica, sans-serif
  color: #fff
  text-shadow: 4px 4px 3px rgba(0,0,0,0.4)

Override bulma .number class for prismjs classes
.number
  align-items: center
  background-color: $background
  border-radius: 290486px
  display: inline
  font-size: 1em
  height: 2em
  justify-content: center
  margin-right: 0em
  min-width: 2.5em
  padding: 0
  text-align: center
  vertical-align: top

// Fix delete size
// See https://github.com/jgthms/bulma/issues/781
.delete
  max-height: inherit
  max-width: inherit
  min-height: inherit
  min-width: inherit
